<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="${basedir}\..\..\..\Logs\Assignment\Api\temp\nlog-internal.log" >
  <targets async="true">
    <target name="file" xsi:type="File"
            layout="TimeStamp=${longdate} Level=${uppercase:${level}} RequestId=${aspnet-traceidentifier} Message=${message}"
            fileName="${basedir}\..\..\..\Logs\Assignment\Api/log.log"
            keepFileOpen="false"
            archiveFileName="${basedir}\..\..\..\Logs\Assignment\Api/log.{#}.txt"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="10485760"
            archiveDateFormat="yyyyMMdd"/>
   
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>